body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  min-height: 20vh;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 30px;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  justify-content: center;
  max-width: 800px;
}

.form-input {
  margin: 5px 20px;
  text-align: center;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
  max-width: 200px;
  margin-bottom: 18px;
  margin-top: 4px;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 15px;
}

.application-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 30px;
  }

  .application-container {
    margin-top: -8px;
    margin-bottom: 16px;
  }

  button {
    margin-bottom: 22px;
  }
}
